/*Global Stuff*/

@font-face {
    font-family: "DignitaryGrandeur";
    src: url(DignitaryGrandeur.ttf)
}

* {
    font-family: "DignitaryGrandeur";
}

body {
    background: linear-gradient(180deg,rgba(0, 251, 255, 1) 0%, rgba(0, 126, 255, 1) 25%, rgba(0, 126, 255, 1) 75%, rgba(0, 251, 255, 1) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

input {
    font-size: xx-large;
}

/*Main Stuff*/

#MainDiv {
    border: 2px solid black;
    margin: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
    background: white;
    transition: 0.3s ease;
}

#MainDiv:hover {
    box-shadow: 10px 10px black;
}

#MainDiv div:not(#GraphDiv2){
    margin: 2px;
    transition: 0.3s ease-in-out;
}

#MainDiv div:not(#GraphDiv2):hover {
    margin: 0px;
    box-shadow: 5px 5px 3px black;
}

#TotalDiv {
    display: flex;
    gap: 30px;
    align-items: center;
}

#TotalDiv:hover {
    border: 2px solid;
    border-image: linear-gradient(45deg,rgba(255, 247, 0, 1) 0%, rgba(0, 247, 255, 1) 50%, rgba(242, 0, 255, 1) 100%) 1;
}

#NotesDiv:hover {
    border: 2px solid;
    border-image: linear-gradient(45deg,rgba(0, 255, 102, 1) 0%, rgba(255, 0, 153, 1) 50%, rgba(0, 225, 255, 1) 100%) 1;
}

.NewSpan {
    display: flex;
    gap: 13px;
    background: whitesmoke;
    width: fit-content;
}

.NewSpan:hover {
    margin: 2px;
    border-bottom: 2px solid black;
}

.NewDeleteButton {
    border-radius: 8px;
    border: 1px solid black;
    background: transparent;
}

#AddRemoveDiv {
    display: flex;
}

#AddRemoveDiv:hover {
    border: 2px solid;
    border-image: linear-gradient(45deg,rgba(0, 187, 255, 1) 0%, rgba(255, 38, 0, 1) 100%) 1;
}

#HistoryDiv:hover {
    border: 2px solid;
    border-image: linear-gradient(45deg,rgba(251, 255, 0, 1) 0%, rgba(255, 0, 255, 1) 100%) 1;
}

#HistoryDiv ul {
    display: flex;
    flex-direction: column-reverse;
}

.NewHistorySpan {
    display: flex;
    gap: 13px;
    background-color: whitesmoke;
    width: fit-content;
}

.NewHistoryDeleteButton {
    border: 1px solid black;
    background: transparent;
}

#GraphDiv:hover {
    border: 2px solid;
    border-image: linear-gradient(45deg,rgb(212, 0, 255) 0%, rgb(255, 0, 64) 100%) 1;
}

#GraphDiv2 {
    display: flex;
    padding: 5px;
}

#GraphDiv2 span {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    gap: 30px;
}


svg {
    border: 2px solid black; 
}

/*Stuff That Appears After Something Happens*/

#EditDiv {
    position: fixed;
    visibility: hidden;
    top: 50%;
    width: 80%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#EditDiv input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#NoteAddDiv {
    position: fixed;
    visibility: hidden;
    top: 50%;
    width: 80%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#NoteAddInput {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#IncomeExpenseDiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 50%;
    width: 80%;
    height: 30%;
    left: 50%;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#IncomeExpenseDiv input {
    border-radius: 8px;
}

/*Overlay*/
#Overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.95;
    z-index: 3;
}

/*Responsive Design*/
@media (max-width: 600px) {
    input {
        font-size: medium;
    }
    #EditDiv {
        height: 5%;
    }
    #NoteAddDiv {
        height: 5%;
    }
    #IncomeExpenseDiv input {
        height: 20%;
    }
}
